NEXT_PUBLIC_CORE_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_VAULT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_GENLAYER_NETWORK=studionet
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-studio.genlayer.com
NEXT_PUBLIC_DEMO_TIMING=false
