NEXT_PUBLIC_CORE_ADDRESS=0x36644d91971fB5dad4cF41A80a21DB916529Ee0a
NEXT_PUBLIC_VAULT_ADDRESS=0xF22a7f5797F90A12CdEcC531e5C3dbA7227Ee2F2
NEXT_PUBLIC_GENLAYER_NETWORK=studionet
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-studio.genlayer.com
NEXT_PUBLIC_DEMO_TIMING=false
